:root{
    /* Text Colors*/
    --color-text: hsl(155, 98%, 24%);
    --color-text-light: hsl(0, 0%, 100%);

    /* Background colors*/
    --color-bg-button: hsl(155, 98%, 24%);
    --color-bg-light: hsl(0, 0%, 100%);
}